*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',sans-serif;
    overflow: hidden;
}

.container {
    position: relative;
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
}

.hamburger-menu-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    background-color: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-menu div {
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
    content:'';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before {
    transform: translateY(-7px);
}

.hamburger-menu div:after {
    transform: translateY(7px);
}

#check {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
}

#check:checked ~ .hamburger-menu-container
.hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container
.hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container
.hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}


